.thanks__content{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    height: 500px;
    width: 1230px;
}

.thanks__box{
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    width: 70%;
    height: 500px;
    padding: 20px;
    border: none;
    /* font-size: 24px; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.thanks__back {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    font-size: 100px;
    color: rgb(249, 248, 248, 0.60);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.thanks__heading{
    text-align: center;
    line-height: calc(500px - 60px);
    color: #8B7969;
}

.thanks__button {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.thanks__button-submit {
    padding: 10px;
    width: 100px;
    height: 50px;
    border: none;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    background-color: #8B7969;
}